
:root {
	--formulaeHeight: 30px;
}

*{
	box-sizing: border-box;
}

body {
	font-family: Arial;
}
.container {
	width: 95%;
	box-sizing: border-box;
	background-color: lightgrey;
	margin: 10px auto;
	border-radius: 30px;
	padding: 10px;

}

.h1 {
	font-size: calc(15px + 30 * (100vw / 1366));
	text-align: center;
	line-height: calc(45px + 40 * (100vw / 1366));
	text-transform: uppercase;
}


/*		equation section		*/
.equationBlock {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 80px;
	grid-template-areas: 
				"equation  btns";
}

.equation {
	width: 90%;
	margin: 0 auto;
	display: flex;
	font-size: 60px;
	text-align: center;
	line-height: 70px;
	grid-template-areas: "equation";
}

@media(max-width: 900px) {
	.equation {
    height: 50px;
    font-size: 40px;
    line-height: 40px;
	}
}
@media(max-width: 700px) {
	.equation {
		width: 100%;
		height: 40px;
		font-size: 25px;
	}
}

.equation div {
	border: 1px solid blue;
	border-radius: 15px;
	width: calc(100% * 10);
}
.equation__a {}
.equation__xSquared {
}
.secondDegree {
    position: relative;
    top: -83px;
    left: 23px;
    font-size: 27px;
}

@media(max-width: 900px) {
	.secondDegree {
		top: -50px;
	    left: 18px;
	    font-size: 18px;
	}
}
@media(max-width: 700px) {
	.secondDegree {
		top: -50px;
	    left: 9px;
	    font-size: 10px;
	}
}



.equation__b {}
.equation__x {}
.equation__c {}
.equation__equal {}
.equation__zero {}

.input {
	width: 100px;
	height: 50px;
	font-size: calc(15px + 19 * (100vw / 1366));
	text-align: center;
	border-radius: 10px;
}

.formButtons {
	grid-template-areas: "btns";
	display: flex;
	justify-content: space-around;
    align-items: center;
}

.submit,
.reset {
	width: 180px;
	height: 60px;
}
.submit:active,
.reset:active {
	position: relative;
	top: 3px;
}






.solutionBlock { grid-area: wide2;
			  display: flex;
			  flex-direction: column;
			  justify-content: space-between;
}


.solution {
	font-size: calc(14px + 16 * (100vw / 1366));
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

@media(max-width: 900px) {
	.solution {
		justify-content: space-evenly;
	}
}

.upMessage {
	height: auto;
	//background-color: rgba(255, 255, 0, 0.8);
	border-radius: 10px;
	line-height: 30px;
	font-size: calc(14px + 16 * (100vw / 1366));
	padding: 10px 0px 0px 10px;
}
.determinant {
    display: none;
    flex-direction: row;
    height: auto;
}
.determinant__formulae,
.determinant__calculation, 
.determinant__result {
	font-size: calc(13px + 16 * (100vw / 1366));
	text-align: center;
	padding: 0px 5px 0px 5px;
}
.determinant__formulae p {
	display: inline;
}
.determinant__result {
	width: auto!important;
}
.determinant__degree {
	font-size: calc(8px + 12 * (100vw / 1366));
	position: relative;
	top: -18px;
	left: 0px;
}
.roots {
	height: 180px;
	//background-color: lightgreen;
	border-radius: 20px;
	font-size: calc(13px + 14 * (100vw / 1366));
}
.roots__row {
	height: calc(45px + 45 * (100vw / 1366));
	display: flex;
	flex-direction: row;
	align-items: center;
}
.firstRoot {
	display: none;
}
.secondRoot {
	display: none;
}

.x {
	padding: 0px 5px 0px 5px;
}
.xIndex {
	position: relative;
	top: 15px;
	left: 0px;
	font-size: 20px;
}

.rootFormula {
	padding: 10px 10px 0px 10px;
	text-align: center;
}
.rootFormula__up {
	height: calc(25px + 20 * (100vw / 1366));	//45px
	box-sizing: border-box;
	border-bottom: 4px solid black;
}
.rootFormula__down {
	height: calc(25px + 20 * (100vw / 1366));	//45px
	box-sizing: border-box;
}
.rootCalc {
	padding: 10px 10px 0px 10px;
	text-align: center;
}
.rootCalc__upCalc {
	height: calc(25px + 20 * (100vw / 1366));
	box-sizing: border-box;
	border-bottom: 4px solid black;
}
.rootCalc__downCalc {
	height: calc(25px + 20 * (100vw / 1366));
	box-sizing: border-box;
}
